{% extends "layout.html" %}

{% block body %}
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
  <a class="navbar-brand" href="#">VagueArea</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Store</a>
      </li>
    </ul>
    <form action="/signin">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><a href="/signin" class="nav-link" >Sign In</a></li>
    </ul>
    </form>
  </div>
</nav>
</div>

<div>
<h1>The Vague Area is the Bay Area’s pissed-of blog. A blog where Bay Area residents rant and take their frustrations to the board. Talk therapy is a healthy way of stimulating the mind. Let us know what pissed off your day in Bay! </h1>
</div><!-- end header -->

{% endblock %}
